<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: product.name}) %>
</head>
<body>
    <!------------------------------------- HEADER ----------------------------------->
    <header>
        <%- include("partials/header") %>
    </header>

    <!------------------------------------- MAIN ----------------------------------->
    <main class="detalle_de_producto">
        <section class="product-article">            
            <div class="product-image-price-container">
                <!-- <a href="">
                    <img class="product-image" src="images/buzo.jpg" alt="Buzo">
                </a> -->
            </div>

            <div>
                <img src="/images/<%= product.image %>" alt="<%= product.name %>" class="product-image">
                <h1 class="product-name-detail"><%= product.name  %></h1>

                    <ol>
                        <p class="product-price-detail"><%= product.price %> $</p>
                        <p class="product-discount-detail"><%= product.discount %> %</p>
                        
              <h4 class="product-style">Talles</h4>
              <select id="options" class="form-select form-select talles-detail" name="options">
                  <option value="XS">XS</option>
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="XL">XL</option>
                  <option value="XXL">XXL</option>
                  </select>
              
              
            <a class="agregar-al-carrito-detail  " href="/carrito">
                 AGREGAR AL CARRITO
            </a>
        
            <form action="/products/<%= product.id %>?_method=delete" method="POST" class="agregar-al-carrito-detail">
                <button type="submit" class="agregar-al-carrito-detail">Eliminar</button>   
              
            </form>
        
            <a class="agregar-al-carrito-detail " href="/products/<%= product.id %>/edit/" >
                 Editar 
            </a>
        
            </div>
                
                <div class="product-style">
                    <span class="calcular-envio-detail">CALCULAR ENVIO</span>
                </div>                        
                


            </div>
           
        


    </main>
     <!------------------------------------- FOOTER ----------------------------------->
     <footer>
        <%- include("partials/footer") %>
    </footer>
</body>
</html>