<!DOCTYPE html>
<html lang="en">
    <!---------------HEAD------------------>
<head>
    <%- include("partials/head") %>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <!-- LOGO -->
        <%- include("partials/header") %>
    </header>
    <!------------------------------------- MAIN ----------------------------------->
    <main class="detalle_de_producto">
        <section class="product-article">            
            <div class="product-image-price-container">
                <!-- <a href="">
                    <img class="product-image" src="images/buzo.jpg" alt="Buzo">
                </a> -->
            </div>
            <div>
                <% detalles.forEach(detalle => { %>
                    
                    <img src="/images/<%= detalle.image %>" alt="<%= detalle.name %>" class="product-image">
                    
                    <h1 class="product-name-detail"><%= detalle.name  %></h1>

                    <ol>
                        <p class="product-price-detail"><%= detalle.price %> $</p>
                        <p class="product-discount-detail"><%= detalle.discount %> %</p>
                        
              <h4 class="product-style">Talles</h4>
              <select id="options" class="form-select form-select talles-detail" name="options">
                  <option value="XS">XS</option>
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="XL">XL</option>
                  <option value="XXL">XXL</option>
                  </select>
              
              <div class="">
                  <input type="submit" class="agregar-al-carrito-detail" value="AGREGAR AL CARRITO" data-store="product-buy-button" data-component="product.add-to-cart">
                    </ol>
                <% }) %>
            </div>
                
                <div class="product-style">
                    <span class="calcular-envio-detail">CALCULAR ENVIO</span>
                </div>                        
                


            </div>
           
        




    </main>
     <!------------------------------------- FOOTER ----------------------------------->
     <footer>
        <%- include("partials/footer") %>
    </footer>
</body>
</html>