<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Inicio"}) %>
</head>
<body>
    <!------------------------------------- HEADER ----------------------------------->
    <header>
        <%- include("partials/header") %>
    </header>

    <!------------------------------------- MAIN ----------------------------------->
    <main>
        <!-- BANNER -->
        <section class="banner">
            <img class="banner-image" src="images/banner.png" alt="">
        </section>

        <!-- PRODUCTS -->
        <section class="products-section">

            <!-- FILTER BUTTON -->
            <div class="filter-button">
                <p class="filter-text">FILTROS</p>
            </div>

            <!-- PRODUCTS -->
            <% detalles.forEach(product => { %>

                <article class="product-article">
                    <div class="product-image-price-container">
                        <a href="/products/<%= product.id %>">
                            <img src="/images/<%= product.image %>" alt="<%= product.name %>" class="product-image">
                        </a>
                        <p class="product-price">$<%= product.price %></p>
                        <p class="product-discount"><%= product.discount %> OFF</p>
                    </div>
                    <h2 class="product-name"><%= product.name %></h2>
                </article>
            <% }) %>
        </section>
    </main>

    <!------------------------------------- FOOTER ----------------------------------->
    <footer>
        <%- include("partials/footer") %>
    </footer>
</body>
</html>