<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head", {title: "Ingresar"}) %>
</head>

<body>
    <!------------------------------------- HEADER ----------------------------------->
    <header>
        <!-- LOGO -->
        <%- include("partials/header") %>
    </header>

    <!------------------------------------- MAIN ----------------------------------->

    <div class="login-container">

        <div class="info">

            <p class="txt-1"> Gracias por visitarnos </p>

            <h2> Bienvenido de nuevo</h2>
            <hr />

            <p class="txt-2">¡Bienvenido a nuestra página de inicio de sesión!
                Estamos encantados de tenerte de vuelta. Ingresa tus credenciales para acceder a tu cuenta personalizada
                y desbloquear un mundo de posibilidades.

            <h3 class="LG"> LOGO </h3>
        </div>

        <form class="form">
            <h2>login</h2>

            <p class="txt-2"> Estamos aquí para hacer que tu experiencia sea excepcional. Gracias por confiar en
                nosotros como tu destino en línea.¡Ingresa ahora y comienza tu viaje con nosotros!
            </p>


            <div class="input">
                <input type="email" class="box" placeholder="email" name="email" id="email" value="<%= locals.oldData && oldData.email ? oldData.email :""%>">
                <%if (locals.erros &&  errors.email) { %>
                    <div>
                        <p class="error-text"><%=errors.email.msg%></p>
                    </div>
                    <% }  %>
                <input type="password" class="box" placeholder="password">

                <a href="#">Olvide mi contraseña</a>
                <!-- <input type="input" value="login" class="boton-log"> -->
                <button class="input-rgst bt-mg" type="submit">LOGIN!</button>
            </div>


        </form>

    </div>
    <!------------------------------------- FOOTER ----------------------------------->
    <footer>
        <%- include("partials/footer") %>
    </footer>
</body>

</html>