<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">
 <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <header>
        <!-- LOGO -->
        <%- include("partials/header")%>
    </header>
<<<<<<< HEAD
    <!-- PRODUCTS -->
    <section class="products-section">

        <!-- FILTER BUTTON -->
        <div class="filter-button">
            <p class="filter-text">FILTROS</p>
        </div>

        <!-- PRODUCTS -->
        <% detalles.forEach(product => { %>

            <article class="product-article">
                <div class="product-image-price-container">
                    <a href="/detalle/<%= product.id %>">
                        <img src="/images/<%= product.image %>" alt="<%= product.name %>" class="product-image">
                    </a>
                    <p class="product-price">$<%= product.price %></p>
                    <p class="product-discount"><%= product.discount %> OFF</p>
                </div>
                <h2 class="product-name"><%= product.name %></h2>
            </article>
        <% }) %>
    </section>
</main>

    <footer>
        <%- include("partials/footer") %>
    </footer>
    </body>
    </html>
                