<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Profile"}) %>
</head>
<body>
    <!------------------------------------- HEADER ----------------------------------->
    <header>
        <%- include("partials/header") %>
    </header>

    <!------------------------------------- MAIN ----------------------------------->
    <main class="bg-rgst">
        <section>
            <img class="rgst-image" src="images/rgst-image.jpeg" alt="">
        </section>

        <section>
            <img class="rgst-image-mobile" src="images/register-bg-mobile.jpg" alt="">
        </section>

                <div class="rgst-container"> 

                    <form class="form-rgst" method="post" action="/registro" enctype="multipart/form-data">
                        <div class="input-rgst">
                            <label for="name" class="labels-rgst">Name:</label>
                            <!-- <input type="feedback" id="name" name="name" required> -->
                            <input type="text" class="box-rgstr-inpt" placeholder=<%= user.name %> name="name" id="name" value="<%= locals.oldData && oldData.name ? oldData.name : ""%>">

                        </div>
                        <div class="input-rgst">
                            <label for="lastName" class="labels-rgst">Last Name:</label>
                            <!-- <input type="feedback" id="lastName" name="lastName" required> -->
                            <input type="text" class="box-rgstr-inpt" placeholder=<%= user.lastName %> name="lastName" id="lastName" value="<%= locals.oldData && oldData.lastName ? oldData.lastName : ""%>">
                           
                        </div>
                        <div class="input-rgst">
                            <label for="email" class="labels-rgst">Email:</label>
                            <input type="email" class="box-rgstr-inpt" placeholder=<%= user.email %> name="email" id="email" value="<%= locals.oldData && oldData.email ? oldData.email : ""%>">
                         
                        </div>
                        <div class="input-rgst">
                            <label for="password" class="labels-rgst">Password:</label>
                            <!-- <input type="password" id="password" name="password" required> -->
                            <input type="password" class="box-rgstr-inpt" placeholder="Password" name="password" id="password">
                           
                        </div>
                        <div class="input-rgst">
                            <label for="imagenDePerfil" class="labels-rgst">Foto:</label>
                            <input type="file" name="imagenDePerfil">
                            <span class="feedback"></span>
                          
                        </div>
                        <button class="input-rgst bt-mg" type="submit">Editar!</button>
                    </form>
                </div>
    </main>

    <!------------------------------------- FOOTER ----------------------------------->
    <footer>
        <%- include("partials/footer") %>
    </footer>
</body>
</html>

