
<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Carrito"}) %>
</head>
<body>
    <!------------------------------------- HEADER ----------------------------------->
    <header>
        <%- include("partials/header") %>
    </header>

    <!------------------------------------- MAIN ----------------------------------->

    <form action="" method="">

        <div class="productos-en-carrito">
            <% productosUsuario.forEach(producto => { %>

                <div class="producto-en-carrito" style="margin-bottom: 300px;">
                    <img style="width: 100px;" src="/images/products/<%= producto.image %>" alt="Imágen del producto">
                    <p class="nombre-producto-carrito"><%= producto.product_name %></p>
                    <p class="precio-producto-carrito"><%= producto.total %></p>
                </div>
    
            <% }) %>
        </div>

        <!-- <div class="margin-left recorte">
            <h4 for="option">Selecciona cantidad:</h4>
                <select id="options" class="form-select form-select talles-detail" name="options">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    </select>
            </select>
        </div> -->

        <div class="up recorte-2">
            <p>Total: <%= total %></p>
        </div>

        <!-- <div class="flex flex-position border-s">
            <button type="submit">Iniciar Compra</button>
        </div> -->

        <a  href="/"  class="flex flex-position border-s">
            Ver más productos
        </a>
    </form>

    <%- include("partials/burguerMenu") %>

    <!------------------------------------- FOOTER ----------------------------------->
    <footer>
        <%- include("partials/footer") %>
    </footer>
</body>
</html>