<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head", {title: "Profile"}) %>
</head>
<body>
    <!------------------------------------- HEADER ----------------------------------->
    <header>
        <%- include("partials/header") %>
    </header>

    <!------------------------------------- MAIN ----------------------------------->
    <main class="bg-rgst">
        <section>
            <img class="rgst-image" src="images/register/rgst-image.jpeg" alt="">
        </section>

        <section>
            <img class="rgst-image-mobile" src="images/register/register-bg-mobile.jpg" alt="">
        </section>
        
                <div class="rgst-container"> 

                    <div class="input-rgst profile-image">
                        <img src="/images/usersProfile/<%=user.profile_picture %>">
                    </div>

                    <div class="user-info">
                        <div class="input-rgst">
                            <div class="labels-rgst">
                                <p>Nombre:</p>
                            </div>
                            <div class="box-rgstr-inpt">
                                <%= user.name %>
                            </div>
                        </div>
                        <div class="input-rgst">
                            <div class="labels-rgst">
                                <p>Apellido:</p>
                            </div>
                            <div class="box-rgstr-inpt">
                                <%= user.last_name %>
                            </div>
                        </div>
                        <div class="input-rgst">
                            <div class="labels-rgst">
                                <p>Email:</p>
                            </div>
                            <div class="box-rgstr-inpt">
                                <%= user.email %>
                            </div>
                        </div>
                    </div>
                    <form class="form-rgst" method="post" action="/logout">
                        <button class="input-rgst bt-mg" type="submit">Logout</button>
                    </form>
                    <%- include("partials/burguerMenu") %>
                </div>
    </main>

    <!------------------------------------- FOOTER ----------------------------------->
    <footer>
        <%- include("partials/footer") %>
    </footer>
</body>
</html>

